:root {
	--primary:#7950F2; /* Morado */
	--secundary:#342D39; /* Negro */
	--complementary:#F1E7F2;
}

* {
	margin: 0px;
	font-family: calibri;
}

header {
	height:50px;
	background-color:var(--primary);
	color:white;
    box-sizing:border-box;
    display:flex;
    align-items:center;
    justify-content: flex-start;
	width: 100%;
	margin-top: -50px;
    position: fixed;
}

header a {
    height: 100%;
    display: flex;
    align-items: center;
	text-decoration: none;
}

header button {
	height: 100%;
	width: 100%;
}

header img {
	margin-left: 20px;
	margin-right: 20px;
	height: 50%;
	cursor: pointer;
}

body{
	margin-top: 50px !important;
}

footer{
	
	background-color:var(--secundary);
	color:white;
	box-sizing:border-box;
	display: flex;
    flex-direction: column;
    align-items: center;
	padding: 10px;

}

aside {
	position: fixed;
    background-color: var(--secundary);
    z-index: 20;
    height: 100vh;
    width: 250px;
	padding: 1px;
    border-right: 2px solid var(--primary);
	margin-left: -250px;
	box-sizing: border-box;
	gap: 1px;
    display: flex;
    flex-direction: column;
}

aside button {
	width: 100%;
}

button {
	background-color:var(--primary);
    color:white;
	padding: 8px 25px;
	cursor: pointer;
	border: 2px solid var(--primary);
	box-sizing:border-box;
	transition: 0.3s;
}

button:hover {
	background-color: white;
	color: var(--primary);
	border: 2px solid var(--primary);
	transition: 0.3s;
}

button:active {
	background-color:var(--secundary);
	color: var(--primary);
	border: 2px solid var(--primary);
	transition: 0.3s;
}

p {
	font-size: 20;
}

article {
    padding: 20px;
	background-color: var(--complementary);
    background-image: url("imagenes/test.png");
}

article h1, article h2 {
	color: var(--primary);
}

table {
    background-color: white;
    border: 1px solid;
	width: 500px
}

th {
	overflow-wrap: break-word;
    max-width: 200px;
}

tr:hover {
	background-color: var(--primary);
	cursor: pointer;
	color: white;
}

@keyframes slideIn {
    from {
        margin-left: -250px;
    }
	to {
		margin-left: 0px;
	}
}

@keyframes slideOut {
    from {
        margin-left: 0px;
    }
	to {
		margin-left: -250px;
	}
}