@import url('downloads.css');

.form{
	
	box-sizing: border-box;
	
}

.form .input-wrapper{
	
	display: flex;
    justify-content: center;
    align-items: center; /* Centrado vertical */
	
}

.form h4{
	
	font-size: 20px;
	margin-bottom: 20px;
	margin-top: 15%;
	text-align: center;
	
}

.form .input-update, .form .input-submit, .form .input-date{
	
	width: 100%;
	border-radius: 4px;
	border: gray 2px inset;
	background: rgb(0, 0, 0, 0);
	padding: 10px;
	margin-bottom: 20px;
	color: black;
	
}

.form .input-buttons{

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}

.form .input-submit{
	
	width: 40%;
	color: black;
	font-size: 15px;
	border: gray 2px inset;
	margin-left: 4%;
	
}

.form .title-border{
	
	display: none;
    position: absolute;
    top: -18px;
    left: 5px;
    background-color: rgb(210, 231, 250);
    color: black; 
    padding: 5px 10px;
    border-radius: 5px;
	border: white 1px solid;
	font-size: 12px;
	
}

.form .input-submit:hover{
	
	color: black;
	font-size: 15px;
	border: gray 2px inset;
	background-color: rgb(210, 231, 250);
	
}

.form .input-update:hover, .form .input-date:hover{
	
	border-color: black;
	background-color: rgb(210, 231, 250);
	
}

.form .input-update:not(:placeholder-shown) + .title-border{
	
    display: block;
	
}

.form .input-wrapper img{
	
	max-width: 300px;
    max-height: 200px;
	margin-bottom: 20px;
	
}

/*#Edit, #Remove{
	
	visibility: hidden;
	
}*/