@import url('downloads.css');

.form{
	
	box-sizing: border-box;
	
}

.form .input-wrapper{
	
    position: relative;
	
}

.form h4{
	
	font-size: 20px;
	margin-bottom: 20px;
	text-align: center;
	
}

.form .input-update, .form .input-submit, .form .input-date{
	
	width: 100%;
	border-radius: 4px;
	border: gray 2px inset;
	background: rgb(0, 0, 0, 0);
	padding: 10px;
	margin-bottom: 20px;
	color: white;
	
}

.form .input-submit{
	
	color: white;
	font-size: 15px;
	border: gray 2px inset;
	margin-top: 15%;
	margin-left: 4%;
	
}

.form .title-border{
	
	display: none;
    position: absolute;
    top: -18px;
    left: 5px;
    background-color: rgb(20, 35, 54);
    color: gray; 
    padding: 5px 10px;
    border-radius: 5px;
	border: white 1px solid;
	font-size: 12px;
	
}

.form .input-submit:hover{
	
	color: white;
	font-size: 15px;
	border: gray 2px inset;
	margin-top: 15%;
	background-color: rgb(32, 62, 100);
	
}

.form .input-update:hover, .form .input-date:hover{
	
	border-color: white;
	background-color: rgb(32, 62, 100);
	
}

.form .input-update:not(:placeholder-shown) + .title-border{
	
    display: block;
	
}